In [6]:
import sqlite3

In [7]:
#DBファイルの保存先パス
path = ''

#Google Colabの場合
#path = '/content'

#DBファイル
db_name = 'sample.db'

#DB接続の確立
#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

In [8]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = 'CREATE TABLE cars (id INT , name TEXT, price REAL);'

    # SQL文の実行
    cur.execute(sql)

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

エラーが発生しました: table cars already exists

## データをDBに挿入する（単一レコード）

In [9]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"

    # SQL文の実行
    cur.execute(sql)
    
    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

## データをDBに挿入する（複数）

In [11]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビックTyper-R', 5000000)
    ]

    # SQL文の実行
    cur.executemany(sql, cars)
    
    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

## データ参照

In [13]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT * FROM テーブル名;
    # * の部分は、取得したい列の名前を、区切りで指定することも可能
    sql = "SELECT * FROM cars;"

    # SQL文の実行
    cur.execute(sql)
    
    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

else:
    for row in cur:
        id, name, price = row
        print(id, name, price)

finally:
    # DBへの接続を閉じる
    conn.close()

1 370z 7000000.0
1 370z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビックTyper-R 5000000.0
1 370z 7000000.0

## データ削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE 条件式;
    sql = "DELETE FROM cars WHERE id = 1;"
    # sql = "DELETE FROM cars WHERE name = 911カレラ;"
    # sql = "DELETE FROM cars WHERE name like '%カレラ';"

    # SQL文の実行
    cur.execute(sql)
    
    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

## データの更新

In [15]:
path = ''
db_name = 'car.db'

try:
    # DBオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    # UPDATE テーブル名 SET カラム名 = 更新値 WHERE 条件式;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQL文の実行
    cur.execute(sql, (5000000, 2))
    
    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()